body {
    background-color: lightgrey;
}


.TopList li {
    display: inline;
}

.TopList {
    text-align: right;
    padding-right: 100px;
}

.topheader {
    padding-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    table-layout: fixed ;
    width: 90% ;
    height: 90% ;
    border-collapse: collapse ;
    border: 5px black solid ;
  }
table tr th {
    width: 90% ;
    height: 90% ;
    border: 1px black solid ;
    padding: 10px ;
}